USE [master]
GO
/****** Object:  Database [QuanLyRapPhim]    Script Date: 08-Jun-19 10:28:08 PM ******/
CREATE DATABASE [QuanLyRapPhim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyRapPhim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuanLyRapPhim.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyRapPhim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuanLyRapPhim_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyRapPhim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyRapPhim]
GO
/****** Object:  Table [dbo].[LICHCHIEU]    Script Date: 08-Jun-19 10:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHCHIEU](
	[MaChieu] [int] IDENTITY(1,1) NOT NULL,
	[MaPhim] [int] NULL,
	[MaPhongChieu] [int] NULL,
	[CaChieu] [nvarchar](100) NULL,
	[TuNgay] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIPHIM]    Script Date: 08-Jun-19 10:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHIM](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
	[MoTa] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 08-Jun-19 10:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIM]    Script Date: 08-Jun-19 10:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIM](
	[MaPhim] [int] IDENTITY(1,1) NOT NULL,
	[TenPhim] [nvarchar](100) NULL,
	[DaoDien] [nvarchar](100) NULL,
	[DienVien] [nvarchar](100) NULL,
	[MaLoai] [int] NULL,
	[NoiDung] [nvarchar](100) NULL,
	[NamSX] [nvarchar](100) NULL,
	[QuocGia] [nvarchar](100) NULL,
	[ThoiLuong] [int] NULL,
	[Poster] [nvarchar](100) NULL,
	[Trailer] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGCHIEU]    Script Date: 08-Jun-19 10:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGCHIEU](
	[MaPhongChieu] [int] IDENTITY(1,1) NOT NULL,
	[TenPhongChieu] [nvarchar](100) NULL,
	[MaLoai] [int] NULL,
	[SoGhe] [int] NULL,
	[ThietBi] [nvarchar](100) NULL,
	[TinhTrang] [nvarchar](100) NULL,
	[DienTich] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhongChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 08-Jun-19 10:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TaiKhoan] [varchar](100) NOT NULL,
	[MatKhau] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TAIKHOAN] ([TaiKhoan], [MatKhau]) VALUES (N'admin', N'admin')
INSERT [dbo].[TAIKHOAN] ([TaiKhoan], [MatKhau]) VALUES (N'user', N'user')
ALTER TABLE [dbo].[LICHCHIEU]  WITH CHECK ADD FOREIGN KEY([MaPhim])
REFERENCES [dbo].[PHIM] ([MaPhim])
GO
ALTER TABLE [dbo].[LICHCHIEU]  WITH CHECK ADD FOREIGN KEY([MaPhongChieu])
REFERENCES [dbo].[PHONGCHIEU] ([MaPhongChieu])
GO
ALTER TABLE [dbo].[PHIM]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAIPHIM] ([MaLoai])
GO
ALTER TABLE [dbo].[PHONGCHIEU]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAIPHONG] ([MaLoai])
GO
USE [master]
GO
